<h4>Projects</h4>
<hr>

<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
<% projects.each(function (project) { %>
  <li><a class="project-link" project-id="<%= project.escape('id') %>" href="#"><%= project.escape('name') %></a></li>

<!--   <div class="project-row row" project-id="<%= project.escape('id') %>">
    <a class="project-link col-md-2" style="float:none;" project-id="<%= project.escape('id') %>" href="#"><%= project.escape('name') %></a>
  </div>
 --><% }) %>
</ul>

<br>
<a href="#" class="create-project">Create project</a>

<script>
  $('.project-row').hover(
    function () {
      var deleteButton ="<a class='delete-project text-danger pull-right' project-id='"
                       + BC.getID(this, 'project')
                       + "' href='#'>Delete</a>";
      $(this).append($(deleteButton));
    },
    function () {
      $(this).find('.delete-project').remove();
    });
</script>