<h1 style="margin-top:0px; cursor:pointer;" class="row project-name" project-id="<%= project.escape('id') %>">
  <%= project.escape('name') %>
</h1>
<div class="row" style="margin-top:10px;">
  <form class="edit-project hidden col-md-6">
    <div class="form-group">
      <input type="text" name="project[name]" class="project-name input-lg form-control" value="<%= project.escape('name') %>">
    </div>

    <div class="form-group">
      <input type="submit" value="Rename project" project-id="<%= project.escape('id') %>" class="rename-project btn btn-primary btn-xs">
      <input type="button" value="Cancel" project-id="<%= project.escape('id') %>" class="cancel-rename-project btn btn-primary btn-xs">
    </div>
  </form>
</div>

<div class="row">
  <% if (project.get('description')) { %>
    <p class="project-description" style="cursor:pointer;"><%= project.escape('description') %></p>
  <% } else { %>
    <a href="#" class="put-project-description-form">Add a description</a>
  <% } %>
  <form class="project-description hidden">
    <textarea class="project-description form-control" name="project[description]"
              rows="2" placeholder="Description" style="margin-bottom:5px;"><%= project.escape('description') %></textarea>
    <button class="set-project-description btn btn-primary btn-xs" type="submit">Submit</button>
    <button class="cancel-project-description btn btn-primary btn-xs" type="submit">Cancel</button>
  </form>
</div>

<div class="row project-users"></div>

<div class="row task-lists-container"></div>

<script>
  $('.project-name').hover(
    function () {
      $(this).append('<small class="rename-note"><small>click to rename</small></small>');
    },
    function () {
      $('.rename-note').hide();
    }
  );
  $('p.project-description').tooltip({
    placement: 'bottom',
    delay: 300,
    title: "Click to edit project description"
  });
</script>