<h2 class="row project-name" project-id="<%= project.escape('id') %>">
  <%= project.escape('name') %>
</h2>

<div class="row">
  <h5>Participants:</h5>
  <% projectUsers.each(function(user) { %>
    <%= user.escape('username') %> <br>
  <% }) %>
  <a href="#" class="add-user" project-id="<%= project.escape('id') %>">Add a participant</a>
</div>
<!-- <select>

  <option value=""></option>
</select>
 -->
<!-- <a href="#" class="delete-project" project-id="<%= project.escape('id') %>">Delete project</a><br> -->
<!-- <a data-toggle="modal" href="#myModal" class="">Delete project</a><br> -->

