<div class="panel panel-primary mb-0">

  <div class="panel-heading task-list-heading cursor-pointer">

    <div class="hidden task-list-rename">
      <form class="rename-task-list form-inline wd-350 ml-0" role="form">
        <div class="form-group">
          <input autofocus type="text" class="task-name open-text-input form-control"
                 placeholder="" name="task_list[title]" value="<%= taskList.escape('title') %>">
        </div>
        <button type="submit" class="rename-task-list btn btn-primary btn-xs">rename</button>
        <button type="button" class="cancel-rename-task-list btn btn-primary btn-xs">&times;</button>
      </form>
    </div>

    <div class="task-list-title">
      <span class="va-bottom underline"><%= taskList.escape('title') %></span>

      <button class="delete-task-list pull-right btn btn-primary btn-xs cursor-pointer">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="put-rename-task-list-form btn btn-primary btn-xs cursor-pointer">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>

  </div>

  <div class="tasks">
    <% _(tasks.where({finished: false})).each(function(task) { %>
      <div class="unfinished-task task-<%= task.escape('id') %> row" task-id="<%= task.escape('id') %>"
           style="cursor:pointer;"></div>
    <% }) %>

    <div class="mt-5 ht-30">
    <a href="#" class="put-add-task-form underline">Add a task</a>
    <form class="create-task hidden form-inline" role="form">
      <div class="form-group">
        <input autofocus type="text" class="task-name open-text-input form-control"
               placeholder="Enter task name" name="task[name]">
      </div>
      <button type="submit" class="add-task btn btn-primary btn-xs">Add task</button>
      <button type="button" class="cancel-add-task btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </form>
    </div>

    <% if (tasks.where({finished: true}).length > 0){ %>
      <hr class="mt-10 mb-5">
      <% _(tasks.where({finished: true})).each(function(task) { %>
        <div class="task task-<%= task.escape('id') %> row" task-id="<%= task.escape('id') %>"
             style="cursor:pointer;"></div>
      <% }) %>
    <% } %>
  </div>
</div>

<script>
  $(".tasks").sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    items: ".unfinished-task",
    handle: ".glyphicon-th",
  });
  $(".tasks").disableSelection();
</script>