<h4 style="color:#00B351;">Task Lists</h4>

<div class="lists-container">
  <% taskLists.each(function(taskList) { %>

    <div class="task-list" style="width:200px; margin: 15px 0 15px 0;">
      <div class="task-list-title" style="margin-bottom:10px;"
           task-list-id="<%= taskList.escape('id') %>">
        <strong style="cursor:pointer; text-decoration: underline;"><%= taskList.escape('title') %></strong>
      </div>

      <div class="tasks-container" style="margin-left:15px;">
        <div class="tasks">
          <% _(taskList.get('tasks')).each(function(task) { %>
          <div class="" style="height:20px; cursor:pointer;">
            <input type="checkbox" task-id="<%= task.id %>"
                   value="task" class="task-checkbox"
                   style="margin: 0 5px 0;"><span style="padding-bottom:6px;"><%= task.name %></span><br>
          </div><!-- task -->
          <% }) %>
        </div>

        <a href="#" style="margin-left:7px;" class="put-add-task-form">Add a task</a>

        <form style="margin: 5px 0 0 5px; width:250px;" class="hidden add-task form-inline" role="form">
          <div class="form-group">
            <input type="text" name="added_task" style="height:20px;"
                   class="input-sm form-control" placeholder="Enter task name">
            <input type="hidden" name="task_list_id" value="<%= taskList.get('id') %>">
          </div>
          <button type="submit" class="add-task btn btn-primary btn-xs"
                  task-list-id="<%= taskList.get('id') %>">Add task</button>
          <button type="button" class="cancel-add-task btn btn-primary btn-xs">x</button>
        </form>

      </div><!-- tasks -->
    </div><!-- task list -->

  <% }) %>
</div>

<a href="#" class="put-task-list-form"><small>Create task list</small></a>

<script>
  $(".tasks").sortable({axis: 'y'});
  $(".tasks").disableSelection();

  $(".task-checkbox").on('click',  function () {
    $(this).next().toggleClass('line-through')
  });

  $('.task-list-title').hover(
    function () {
      var deleteButton ="<a class='delete-task-list' task-list-id='"
                       + BC.getID(this, 'task-list')
                       + "' href='#' style='margin-left:10px;'><span class='glyphicon glyphicon-trash'></span></a>";
      $(this).append($(deleteButton));
    },
    function () {
      $(this).find('a.delete-task-list').remove();
  });
</script>