<h4 style="color:#00B351;">Task Lists</h4>

<div class="lists-container">
  <% taskLists.each(function(taskList) { %>

    <div class="panel panel-primary">
      <div class="panel-heading" style="padding:3px 2px 4px 10px; cursor:pointer;">
        <div class="task-list-title" task-list-id="<%= taskList.escape('id') %>">
          <span style="text-decoration: underline;"><%= taskList.escape('title') %></span>
          <button class="delete-task-list pull-right btn btn-danger btn-xs"
               style="cursor:pointer;">delete</button>
        </div>
      </div>

      <div class="tasks" style="margin:15px 30px;">

        <div class="unfinished-tasks">
          <% _(taskList.get('tasks').where({finished: false})).each(function(task) { %>
          <div class="task" style="height:20px; cursor:pointer;">
            <input type="checkbox" task-id="<%= task.get('id') %>"
                   value="task" class="task-checkbox"
                   style="margin: 0 5px 0;">
                   <span class="task-name" style="padding-bottom:6px;" task-id="<%= task.get('id') %>"><%= task.get('name') %></span>
            <span class="delete-task pull-right" task-id="<%= task.get('id') %>">x</span>
          </div><!-- task -->
          <% }) %>
        </div>

        <a href="#" class="put-add-task-form" style="margin-left:24px; text-decoration:underline;">Add a task</a>
        <form style="margin: 5px 0 0 5px; width:250px;" class="add-task hidden form-inline" role="form">
          <div class="form-group">
            <input autofocus type="text" name="task[name]" style="height:20px;"
                   class="task-name input-sm form-control" placeholder="Enter task name">
          </div>
          <button type="submit" class="add-task btn btn-primary btn-xs"
                  task-list-id="<%= taskList.get('id') %>">Add task</button>
          <button type="button" class="cancel-add-task btn btn-primary btn-xs"
                  task-list-id="<%= taskList.get('id') %>">x</button>
        </form>

        <% var finishedTasks = taskList.get('tasks').where({finished: true}) %>
        <% if (finishedTasks.length > 0) { %>
          <hr>
          <% _(finishedTasks).each(function(task) { %>
          <div class="task" style="height:20px; cursor:pointer;">
            <input type="checkbox" task-id="<%= task.get('id') %>"
                   value="task" class="task-checkbox"
                   style="margin: 0 5px 0;" checked>
                   <span style="padding-bottom:6px;" class="task-name line-through" task-id="<%= task.escape('id') %>"><small><%= task.get('name') %></small></span>
            <span class="delete-task pull-right" task-id="<%= task.get('id') %>">x</span>
          </div><!-- task -->
          <% }) %>
        <% } %>

      </div>
    </div>

  <% }) %>
</div>

<a href="#" class="put-task-list-form"><small>Create task list</small></a>

<script>
  $( ".lists-container" ).sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    handle: ".panel-heading"
  });
  $( ".lists-container" ).disableSelection();

  $(".unfinished-tasks").sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    items: ".task"
  });
  $(".tasks").disableSelection();
</script>