<div class="panel panel-primary" style="margin-bottom:0px;">

  <div class="panel-heading" style="padding:3px 2px 4px 10px; cursor:pointer;">

    <div class="hidden task-list-rename">
      <form style="margin-left: 0px; width:350px;" class="rename-task-list form-inline" role="form">
        <div class="form-group">
          <input autofocus type="text" name="task_list[title]" style="height:20px; padding-left:1px; color: white;"
                 class="task-name open-text-input form-control" placeholder="" value="<%= taskList.escape('title') %>">
        </div>
        <button type="submit" class="rename-task-list btn btn-primary btn-xs">rename</button>
        <button type="button" class="cancel-rename-task-list btn btn-primary btn-xs">&times;</button>
      </form>
    </div>

    <div class="task-list-title">
      <span style="text-decoration: underline; vertical-align:bottom;"><%= taskList.escape('title') %></span>

      <button class="delete-task-list pull-right btn btn-primary btn-xs"
           style="cursor:pointer;"><span class="glyphicon glyphicon-remove"></span></button>
      <button class="put-rename-task-list-form btn btn-primary btn-xs"
           style="cursor:pointer;"><span class="glyphicon glyphicon-pencil"></span></button>
    </div>

  </div>

  <div class="tasks" style="margin:15px 20px;">
    <% _(tasks.where({finished: false})).each(function(task) { %>
      <div class="task task-<%= task.escape('id') %>" task-id="<%= task.escape('id') %>"
           style="height:20px; cursor:pointer;"></div>
    <% }) %>

    <div style="height:30px; margin-top:5px;">
    <a href="#" class="put-add-task-form" style="margin-left:27px; text-decoration:underline;">Add a task</a>
    <form style="margin: 5px 0 0 25px; width:350px;" class="create-task hidden form-inline" role="form">
      <div class="form-group">
        <input autofocus type="text" name="task[name]" style="height:20px; padding-left:0px;"
               class="task-name open-text-input form-control" placeholder="Enter task name">
      </div>
      <button type="submit" class="add-task btn btn-primary btn-xs">Add task</button>
      <button type="button" class="cancel-add-task btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
    </form>
    </div>

    <% if (tasks.where({finished: true}).length > 0){ %>
      <hr style="margin-top: 10px; margin-bottom:5px;">
      <% _(tasks.where({finished: true})).each(function(task) { %>
        <div class="task task-<%= task.escape('id') %>" task-id="<%= task.escape('id') %>"
             style="height:20px; cursor:pointer;"></div>
      <% }) %>
    <% } %>
  </div>
</div><!-- task list panel -->

<script>
  $(".tasks").sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    items: ".task",
    handle: ".glyphicon-th",
    // connectWith: ".tasks"
  });
  $(".tasks").disableSelection();
</script>