<h4 style="color:#00B351;">Task Lists</h4>

<div class="lists-container">
  <% taskLists.each(function(taskList) { %>

    <div class="panel panel-primary">
      <div class="panel-heading" style="padding:5px 10px; cursor:pointer;">
        <div class="task-list-title" task-list-id="<%= taskList.escape('id') %>">
          <span style="text-decoration: underline;"><%= taskList.escape('title') %></span>
          <button class="delete-task-list pull-right btn btn-danger btn-xs"
               style="cursor:pointer;">delete</button>
        </div>
      </div>
      <div class="tasks" style="margin:15px 30px;">
        <% taskList.get('tasks').each(function(task) { %>
        <div class="task" style="height:20px; cursor:pointer;">
          <input type="checkbox" task-id="<%= task.get('id') %>"
                 value="task" class="task-checkbox"
                 style="margin: 0 5px 0;"><span style="padding-bottom:6px;"><%= task.get('name') %></span>
          <span class="delete-task pull-right" task-id="<%= task.get('id') %>">x</span>
        </div><!-- task -->
        <% }) %>

        <a href="#" class="put-add-task-form" style="margin:3px; 10px;">Add a task</a>
        <form style="margin: 5px 0 0 5px; width:250px;" class="hidden add-task form-inline" role="form">
          <div class="form-group">
            <input type="text" name="added_task" style="height:20px;"
                   class="input-sm form-control" placeholder="Enter task name">
            <input type="hidden" name="task_list_id" value="<%= taskList.get('id') %>">
          </div>
          <button type="submit" class="add-task btn btn-primary btn-xs"
                  task-list-id="<%= taskList.get('id') %>">Add task</button>
          <button type="button" class="cancel-add-task btn btn-primary btn-xs">x</button>
        </form>

      </div>
    </div>

  <% }) %>
</div>

<a href="#" class="put-task-list-form"><small>Create task list</small></a>

<script>
  $(".tasks").sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    items: ".task"
  });
  $(".tasks").disableSelection();

  $(".task-checkbox").on('click',  function () {
    $(this).next().toggleClass('line-through')
  });
</script>