<% if (subtask.get('finished') === true) { %>
  <input type="checkbox" subtask-id="<%= subtask.escape('id') %>"
         value="subtask" class="subtask-checkbox" checked>
  <span class="subtask-name line-through text-muted va-middle"
        subtask-id="<%= subtask.escape('id') %>"><%= subtask.escape('name') %></span>
<% } else { %>
  <input type="checkbox" subtask-id="<%= subtask.escape('id') %>"
         value="subtask" class="subtask-checkbox">
  <span class="subtask-name va-middle"
        subtask-id="<%= subtask.escape('id') %>"><%= subtask.escape('name') %></span>
<% } %>

<form class="rename-subtask hidden form-inline" role="form">
  <div class="form-group">
    <input autofocus type="text" name="subtask[name]" placeholder="Enter subtask name"
           class="subtask-name open-text-input form-control ht-20 pl-0"
           value="<%= subtask.escape('name') %>">
  </div>
  <button type="submit" class="rename-subtask btn btn-primary btn-xs">rename</button>
  <button type="button" class="cancel-rename-subtask btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</form>

<span class="delete-subtask pull-right" subtask-id="<%= subtask.escape('id') %>">&times;</span>