<div class="well sidebar-nav sidebar-nav-fixed" style="width:357px;">
<div class="row">

  <div class="row" style="display:block; margin-left:0; margin-right:0; margin-bottom:8px;">
    <% if (task.get('finished')) { %>
      <button class="task-detail-finished finished-task btn btn-success btn-xs"><span class="glyphicon glyphicon-check"></span></button>
    <% } else { %>
      <button class="task-detail-finished unfinished-task btn btn-success btn-xs"><span class="glyphicon glyphicon-unchecked"></span></button>
    <% } %>

    <button class="assign-task-button btn btn-primary btn-xs">
      <div class="dropdown" style="display:inline-block;">
        <a id="drop4" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" style="color: white;">&nbsp;</span><b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <% BC.ProjectUsers.each(function (user) { %>
            <li class="assignee" user-id="<%= user.get('id') %>">
              <a style="text-align:left; padding:1px 10px;" role="menuitem" tabindex="-1">
                <%= user.escape('display_name') %>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </button>
    <button class="task-due-date btn btn-primary btn-xs"><span class="glyphicon glyphicon-calendar"></span></button>

    <% if (assignee) { %>
      <span class="label label-info pull-right" style="padding-bottom:5px; margin-left:2px;">
        <%= assignee.escape('display_name') %>&nbsp; &#124;
        <a class="unassign-task" href="#"><span class="glyphicon glyphicon-remove" style="color:white;"></span></a>
      </span> &nbsp;
    <% } %>

    <% if (dueDate) { %>
      <span class="label <%= dueDate.color %> pull-right" style="padding-bottom:5px;">
        <%= dueDate.dateString %>&nbsp; &#124;
        <a class="clear-due-date" href="#"><span class="glyphicon glyphicon-remove" style="color:white;"></span></a>
      </span>
    <% } %>
  </div>

  <h3 class="task-detail-name" style="cursor:pointer;">
    <span class="task-detail-name"><%= task.escape('name') %></span>
  </h3>
  <form style="width:250px;" class="rename-task hidden form-inline" role="form">
    <div class="col-md-11" style="padding: 7px 9px 7px 0;">
      <div class="form-group">
        <textarea autofocus type="text" name="task[name]" style="width:220px;"
               class="task-name input form-control"><%= task.escape('name') %></textarea>
      </div>
    </div>
    <div class="col-md-1" style="padding: 3px 0 5px 0; float:right;">
    <button type="submit" class="rename-task btn btn-primary btn-xs"
            task-list-id="<%= task.escape('id') %>"><span class="glyphicon glyphicon-ok"></span></button>
    <div style="height:3px;"></div>
    <button type="button" class="cancel-rename-task btn btn-primary btn-xs"
            task-list-id="<%= task.escape('id') %>"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </form>
</div>

<div class="row">
  <% if (task.get('description')) { %>
    <p class="task-description" style="cursor:pointer;"><%= task.escape('description') %></p>
  <% } else { %>
    <a href="#" class="put-task-description-form">Add a description</a>
  <% } %>
  <form class="task-description hidden">
    <textarea class="task-description form-control" name="task[description]"
              rows="3" placeholder="Description" style="margin-bottom:5px;"><%= task.escape('description') %></textarea>
    <button class="set-task-description btn btn-primary btn-xs" type="submit">Submit</button>
    <button class="cancel-task-description btn btn-primary btn-xs" type="submit">Cancel</button>
  </form>
</div>

<div class="row">
  <hr style="margin-top:10px; margin-bottom:15px;">
</div>

<div class="row">
  <button class="put-add-subtask-form btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-list"></span>&nbsp;
    <span style="vertical-align:middle;">Add a subtask</span>
  </button>
  <form style="margin: 5px 0; width:350px;" class="create-subtask hidden form-inline" role="form">
    <div class="form-group">
      <input autofocus type="text" name="subtask[name]" style="height:20px; padding-left:0px;"
             class="subtask-name open-text-input form-control" placeholder="Enter subtask name">
    </div>
    <button type="submit" class="add-subtask btn btn-primary btn-xs">Add subtask</button>
    <button type="button" class="cancel-add-subtask btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
  </form>
</div>

<div class="row">
  <hr style="margin-top:10px; margin-bottom:15px;">
</div>

<div class="comments row"></div>
</div>

<script>
  $('.task-due-date').datepicker({
    autoclose: true
  });

  $('textarea').autosize();

  $('p.task-description').hover(
    function () {
      $(this).toggleClass('task-description-hover');
    },
    function () {
      $(this).toggleClass('task-description-hover');
    }
  );

  $('.finished-task').tooltip({
    placement: 'top',
    delay: 300,
    title: "Click to mark this task incomplete"
  });

  $('.unfinished-task').tooltip({
    placement: 'top',
    delay: 300,
    title: "Click to mark this task complete"
  });

  $('.assign-task-button').tooltip({
    placement: 'top',
    delay: 300,
    title: "Click to assign a person responsible for this task"
  });

  $('.task-due-date').tooltip({
    placement: 'top',
    delay: 300,
    title: "Set a due date to this task"
  });

  $('h3.task-detail-name').tooltip({
    placement: 'bottom',
    delay: 300,
    title: "Click to rename task"
  });
</script>