<div class="row">
  <div class="row" style="display:block; margin-left:0; margin-bottom:8px;">
  <% if (task.get('finished')) { %>
    <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-check"></span></button>
  <% } else { %>
    <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-unchecked"></span></button>
  <% } %>

  <button class="assign-task-button btn btn-primary btn-xs">
    <div class="dropdown" style="display:inline-block;">
      <a id="drop4" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" style="color: white;">&nbsp;</span><b class="caret"></b></a>
      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
        <% BC.ProjectUsers.each(function (user) { %>
          <li class="assignee" user-id="<%= user.get('id') %>">
            <a style="text-align:left; padding:1px 10px;" role="menuitem" tabindex="-1">
              <%= user.escape('display_name') %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </button>
  <button class="rename-task-button btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
  <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-calendar"></span></button>

  <% if (assignee) { %>
    <span class="label label-info pull-right" style="padding-bottom:5px;">
      <%= assignee.escape('display_name') %>&nbsp; &#124;
      <a class="unassign-task" href="#"><span class="glyphicon glyphicon-remove" style="color:white;"></span></a>
    </span>
  <% } %>
  </div>

  <h3 class="task-detail-name" style="cursor:pointer;">
    <span class="task-detail-name"><%= task.escape('name') %></span>
  </h3>
  <form style="width:250px;" class="rename-task hidden form-inline" role="form">
    <div class="col-md-11" style="padding: 7px 9px 7px 0;">
      <div class="form-group">
        <textarea autofocus type="text" name="task[name]" style="width:220px;"
               class="task-name input form-control"><%= task.escape('name') %></textarea>
      </div>
    </div>
    <div class="col-md-1" style="padding: 3px 0 5px 0; float:right;">
    <button type="submit" class="rename-task btn btn-primary btn-xs"
            task-list-id="<%= task.escape('id') %>"><span class="glyphicon glyphicon-ok"></span></button>
    <div style="height:3px;"></div>
    <button type="button" class="cancel-rename-task btn btn-primary btn-xs"
            task-list-id="<%= task.escape('id') %>"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </form>
</div>

<div class="row">
  <% if (task.get('description')) { %>
    <p class="task-description" style="cursor:pointer;"><%= task.escape('description') %></p>
  <% } else { %>
    <a href="#" class="put-task-description-form">Add a description</a>
  <% } %>
  <form class="task-description hidden">
    <textarea class="task-description form-control" name="task[description]"
              rows="3" placeholder="Description" style="margin-bottom:5px;"><%= task.escape('description') %></textarea>
    <button class="set-task-description btn btn-primary btn-xs" type="submit">Submit</button>
    <button class="cancel-task-description btn btn-primary btn-xs" type="submit">Cancel</button>
  </form>
</div>

<div class="row">
  <hr style="margin-top:10px; margin-bottom:15px;">
</div>

<div class="comments row"></div>

<script>
  $('textarea').autosize();
  $('p.task-description').hover(
    function () {
      $(this).toggleClass('task-description-hover');
    },
    function () {
      $(this).toggleClass('task-description-hover');
    }
  );
</script>