<!DOCTYPE html>
<html>
<head>
  <title>Fnsh</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if current_user %>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          You are logged in as <strong><%= current_user.display_name %></strong>
          <%= button_to "Logout", session_path, :method => "delete",
                                                :class => "btn btn-primary btn-xs" %>
        </div> <br>

        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-xs">Account Settings</a>

        <div class="errors">
          <% flash[:errors].try(:each) do |error| %>
            <%= error %>
          <% end %>
        </div> <br>
      </div>

      <hr style="margin: 10px 0;">

      <div class="row">
        <div class="projects col-md-3"></div>
        <div class="col-md-1" style="width:15px;"></div>

        <div class="project col-md-5"></div>

        <div class="task-detail col-md-3" style="padding-left:20px; padding-right:0;">
        </div>

      </div>

    <% else %>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</body>
</html>

<script>
  var currentUserJson = <%= current_user.to_json.html_safe %>
  BC.initialize(currentUserJson);
</script>