<!DOCTYPE html>
<html>
<head>
  <title>Fnsh</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if current_user %>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          You are logged in as <strong><%= current_user.display_name %></strong>
          <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-xs">Account Settings</a>

          <%= button_to "Logout", session_path, :method => "delete",
                                                :class => "btn btn-primary btn-xs pull-right" %>
        </div> <br>


        <div class="errors">
          <% flash[:errors].try(:each) do |error| %>
            <%= error %>
          <% end %>
        </div> <br>
      </div>

      <hr style="margin: 10px 0;">

      <div class="row">
        <div class="projects col-md-3"></div>
        <div class="col-md-1" style="width:15px;"></div>

        <div class="project col-md-5"></div>

        <div class="task-detail col-md-3" style="padding-left:20px; padding-right:0;">
        </div>

      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Account Settings</h4>
            </div>
            <div class="modal-body">

              <form action="<%= user_url(current_user) %>" method="post" role="form" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                      <label for="avatar">Display Image:</label> <br>
                      <% if current_user.avatar %>
                        <%= image_tag current_user.avatar.url, size: "50x50" %>
                        <br>
                      <% else %>
                        <span class="glyphicon glyphicon-user"></span>
                      <% end %>
                      <input type="file" name="user[avatar]" onchange="handle_files(this.files)" style="margin-top:10px;">
                    </div>
                    <div class="form-group">
                      <label for="email">Email:</label> <br>
                      <input type="text" name="user[email]" id="email" class="form-control" value="<%= current_user.email %>" disabled>
                    </div>
                    <div class="form-group">
                      <label for="display-name">Name:</label> <br>
                      <input type="text" name="user[display_name]" id="display-name" class="form-control" value="<%= current_user.display_name %>">
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary", value="Update">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </form>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    <% else %>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>
  </div>
</body>
</html>

<script>
  var currentUserJson = <%= current_user.to_json.html_safe %>
  BC.initialize(currentUserJson);

  function handle_files(files) {
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      // you need to send e.target.result in your $.ajax request
      console.log(this.result);
    }
    reader.readAsDataURL(file);
  }
</script>