<!DOCTYPE html>
<html>
<head>
  <title>Basecamp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if current_user %>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          You are logged in as <strong><%= current_user.username %></strong>
          <%= button_to "Logout", session_path, :method => "delete",
                                                :class => "btn btn-primary btn-xs" %>
        </div> <br>

        <div class="errors">
          <% flash[:errors].try(:each) do |error| %>
            <%= error %>
          <% end %>
        </div> <br>
      </div>

      <hr style="margin: 10px 0;">

      <div class="row">
        <div class="projects col-md-3"></div>
        <div class="col-md-1" style="width:20px;"></div>

        <div class="project col-md-5"></div>
        <div class="col-md-1" style="width:10px;"></div>

        <div class="task-detail col-md-3" style="padding-left:20px; padding-right:0;"></div>
      </div>

    <% else %>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>
  </div>

  <div id="push"></div>

  <div class="navbar navbar-default navbar-fixed-bottom" style="height:100px;">
    <div class="container">
      <p></p>
    </div>
  </div> <!-- end footer -->
</body>
</html>

<script>
  var currentUserJson = <%= current_user.to_json.html_safe %>
  BC.initialize(currentUserJson);
</script>